<div class="card product-card">
    <a class="" href="{{ product.url | within: collection }}">

        {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
        {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% unless product.featured_image == blank %}
            {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        {% endunless %}

        <div class="img-wrap {% for collection in product.collections %}
    {{ collection.handle }}
{% endfor %}">
            <img class="carg-img-top w-100" src="{{ product.featured_image | img_url: '380x300' }}" alt="{{ product.title }}">
        </div>

        <div class="card-body d-none">
            <h3 class="card-title py-5" aria-hidden="true">{{ product.title }}</h3>
            {% include 'product-price', variant: product %}
        </div>

        <div class="card-body py-5">
            <h3 class="card-title" aria-hidden="true">{{ product.title }}</h3>

            <h3 class="collection-price card-title text-center">
                <strong>From {% include 'cbd-custom-product-price', variant: product %}</strong>
            </h3>
            <p class="strengths text-center">Strengths available</p>

            {% comment %} {{ collection.products.first.variants | json }} {% endcomment %}
            {% if product.variants.size > 1 %}
            <div class="list-strengths">
                {%- assign variants = product.variants -%}

                {% for variant in variants %}

                    <span class="strength">{{ variant.title }}</span>

                {% endfor %}
            </div>
            {% endif %}
        </div>
    </a>
</div>