{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {%- assign collection_image = collection.products.first.featured_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

{% comment %}
{% if collection.products == empty %}
  {% assign product_link = '#' %}
{% else %}
  {% if collection.handle == 'pure-cbd-oil' %}
    {% assign product_link = '/collections/all/pure' %}
  {% else %}
    {% assign product_link = collection.handle %}
  {% endif %}  
{% endif %}
{% endcomment %}

<div class="card text-center w-100">

  <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="">

    {% unless collection_image == blank %}
    <img class="card-img-top" src="{{ collection_image | img_url: '380x300' }}" alt="collection image" />
    {% else %}
      {% if collection == empty %}
        <div class="">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="" style="background-image: url('{{ collection_image | img_url: '380x300' }}')"></div>
      {% endif %}
    {% endunless %}

    <div class="card-body py-5">
      <h3 class="card-title">
        {% if collection.title == blank %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h3>
      <h3 class="collection-price card-title"><strong>From {{ collection.products.first.price | money }}</strong></h3>
      <p class="strengths text-center">Strengths available</p>

      {% comment %} {{ collection.products.first.variants | json }} {% endcomment %}
      {% if collection.products.first.variants.size > 1 %}
        <div class="list-strengths">
            {%- assign variants = collection.products.first.variants -%}

                {% for variant in variants %}

                    <span class="strength">{{ variant.title }}</span>

                {% endfor %}
        </div>
      {% endif %}
    </div>
  </a>
</div>
