<script>
    if(typeof(Spurit) === 'undefined'){
        var Spurit = {};
    }
    if(!Spurit.recurringInvoices){
        Spurit.recurringInvoices = {};
    }
    if(!Spurit.recurringInvoices.snippet){
        Spurit.recurringInvoices.snippet = {};
    }
    Spurit.recurringInvoices.snippet.product = {{ product | json }};
</script>
