.btn {
  padding: 15px 36px;
  background-color: inherit;
  border: $btn-border-width solid $body-color;
  
  &.btn-primary {
    color: #fff;
    background-color: #8BC53F;
    border: $btn-border-width solid #8BC53F;        
  }
}