/*********************** grid ***********************/

@include media-breakpoint-down(sm) {
    .container,
    .container-fluid {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px;
    }

    .col,
    [class*="col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

@include media-breakpoint-up(md) {
    .container,
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }

    .col,
    [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*********************** cards ***********************/

.card-img-top {
    border-radius: 0 !important;
}

.card-title {
    color: #282828;	
    font-family: Barlow;	
    font-size: 20px;	
    font-weight: 500;	
    line-height: 26px;	
    text-align: center;
}
