body {
	background: #fafafa;
}

a {
  text-decoration: underline;
}

.section-header {
  h1 {
    margin-top: 50px;
  }
}

.h3 {
  font-size: 20px;
  line-height: 26px;
}

footer {
  p {
    color: #fff;
  }

  .site-footer__linklist-item {
    a {
      text-decoration: none;
    }
  }

  .footer-text {
    color: #fff;
    margin-top: 10px;
    font-size: 11px;
  }

  #ContactFooter {
    .input-group--error {
      .form-message--error {
        display: none;
      }
    }
  }
}