/*================================================================
MIXINS
=================================================================*/

@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin v-c {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin v-h-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*================================================================
FONT
=================================================================*/

//@import url('https://fonts.googleapis.com/css?family=Circular Std Black:300,400,700');
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/* usage:@include font-size(2); */

@mixin aspect-fixed($aspect_percent: 100%) {
  position: relative;
  display: table;
  width: 100%;
  padding-top: $aspect_percent;
  overflow: hidden;
  >* {
    width: 100%;
    height: auto;
    position: absolute;
    @include v-h-c; //   transition: all 0.4s ease;
    //   &:hover {
    //     transform: translate(-50%, -50%) scale(1.1);
    //   }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  >.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


