/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.

 */

// Colors - https://projects.invisionapp.com/share/W7QHLZSSN2C#/screens
$theme-colors: (
  "primary": #8BC53F, // aliased with color version
  "primary-over": #7e8600, // aliased with color version
  "secondary": #ec6706, // aliased with color version
  "secondary-over": #bd5508, // aliased with color version
  "tertiary": #2CA8E0, // aliased with color version
  "tertiary-over": #0084bd, // aliased with color version

  "light-primary": #F3FAF1,

  "strength-1": #109C4F,
  "strength-2": #28A9E0,
  "strength-3": #9645E9,
  "strength-4": #E9457F,
);

$body-color: #282828;

// Options
$enable-rounded: true;
$enable-transitions: true;

// Borders
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

// Forms - inherited by btns
// $input-btn-font-size: 1rem; // 16px (base)
// $input-btn-font-size-sm: 1rem;
// $input-btn-font-size-lg: 1rem;
// $input-btn-padding-y: 0.9375rem; // 15px
// $input-btn-padding-x: 0.9375rem;
// $input-btn-padding-y-sm: 0.9375rem;
// $input-btn-padding-x-sm: 0.9375rem;
// $input-btn-padding-y-lg: 0.9375rem;
// $input-btn-padding-x-lg: 0.9375rem;

// Grid
// $grid-gutter-width: 20px;

// Fonts
$font-size-base: 0.875rem;
$font-family-sans-serif: "Open Sans", sans-serif;

$headings-font-family: 'Barlow', sans-serif;
// $headings-font-weight: normal; // font is bold, so normal is standard bold

//////// Custom
$transition: all ease-in-out 0.3s; // TE

// Box shadows
// $box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

// Links
//
// Style anchor elements.

$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $body-color;
$link-hover-decoration: none;


// Cards

$card-border-width: 0;
$card-cap-bg: #fff;

// Ensure image cap has border radius
$card-inner-border-radius: 5px;

// Breadcrumbs

// $breadcrumb-padding-y:              .75rem !default;

// $breadcrumb-margin-bottom:          1rem !default;

// $breadcrumb-divider:                quote("/") !default;

// $breadcrumb-border-radius:          $border-radius !default;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 20px;
$breadcrumb-item-padding: 20px;
$breadcrumb-divider-color: #fff;
$breadcrumb-active-color: #fff;

// Button

$btn-font-weight: 600;
$btn-font-family: "Barlow";
$btn-border-radius: 5px;
$btn-line-height: 1;
