.blog-listing-section {
  padding-bottom: 20px;

  .cbd-section.text-section {
    padding-bottom: 0px;
  }

  .grid {
    .grid__item {
      .blog-item-wrap {
        background: #fff;
        text-align: center;

        a {
          text-decoration: none;
        }

        .article__grid-meta--has-image {
          float: none;
        }

        .article__title {
          margin-top: 40px;
          padding: 0 20px;
        }

        .article__grid-meta {
          padding: 0 20px 50px;

          .article__grid-excerpt {
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}