article.blog-post {
  padding-bottom: 80px;

  .text-section {
    padding-bottom: 0px;

    .section-title, .section-subtitle {
      text-align: left;
    }

    .section-title {
      margin-bottom: 40px;
    }
  }

  .section-header {
    display: none; // Displays the meta info if selected, we don't want it
  }
}