.template-product {
  .index-section {
    padding: 0;
  }

  .product-form {
    display: block;
  }

  .product-section {
    position: relative;
    background-color: #bfdaee;
    /*
    background-image: url(#{'{{ "blue-bg.png" | asset_url }}' });
    background-repeat: repeat-x;
    background-position: center bottom;
    */
    padding: 50px 0 0px;

    /*
    &::before {
      width: 100%;
      height: 90px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: " ";
      background-color: #a5ccea;
    }
    */

    .product-single__photos {
      position: relative;
      min-height: 270px;

      .product-single__photo-wrapper {
        //position: absolute;
        //bottom: -80px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .product-featured-img {
          top: 10px;
          padding-top: 10px;

          @include media-breakpoint-up(md) {
            bottom: -60px;
            top: auto;
          }
        }
        
      }
    }

    .product-single__description {
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .product-single {
      padding-bottom: 20px;
    }
  }

  .price-item {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    font-family: $headings-font-family;
  }

  form.product-form {
    padding-top: 0px;

    .header {
      font-family: $headings-font-family;
      text-transform: uppercase;
      font-weight: bold;
    }

    .productmg {
      height: 16px;	
      font-family: $headings-font-family;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
      margin: 4px 0 2px;
    }

    .productmg_per_serving {
      font-family: $headings-font-family;
      font-size: 10px;
      font-weight: 500;
      line-height: 10px;
      text-align: center;
      text-transform: initial;
    }
  }

  .details-link {
    font-family: $headings-font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;

    img {
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
  }

  .blue-bg {
    background-color: #a5ccea;
    //padding: 20px 0;
    padding: 20px 0 20px;

    @include media-breakpoint-up(md) {
      padding: 60px 0 20px;
    }
  }

  .quantity-add-wrapper {
    .quantity-wrapper {
      display: flex;
      padding-top: 23px;
    }

    .product-form__item.product-form__item--quantity {
      width: 80px;
      display: inline-block;
      padding: 0;
      
      input {
        text-align: center;
        display: block;
        width: 100%;
        height: 50px;
      }
    }

    .product-form__item.product-form__item--submit {
      padding: 0;
      margin: 0;

      button {
        padding: 0;
        margin: 0;
        height: 50px;
      }
    }
  }  

  // Bold plugin
  .ro_widget {
    display: inline-block;
    padding: 3px 0 0 10px;

    .bold-ro__frequency-div {
      margin-left: -110px;
      margin-bottom: 10px;
    }

    input[type=radio] {
      min-height: 0;
    }
  }

  .bold-ro__product {
    margin: 0;
  }

  .bold-ro__recurring-title {
    display: none;
  }

  .bold-ro__radio-div {
    padding: 0;
    border: none;
  }

  .bold-ro__bold-active {
    background: none;
  }
}