.template-collection {
  .card.product-card {
    background-color: transparent;
    margin-bottom: 20px;

    .img-wrap {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-bottom: 20px;

      &.pet-cbd-oil {
        background-image: url(#{'{{ "category-productbg-pet.png" | asset_url }}' })
      }

      &.full-spectrum-cbd-oil {
        background-image: url(#{'{{ "category-productbg-full.png" | asset_url }}' })
      }

      &.pure-cbd-oil {
        background-image: url(#{'{{ "category-productbg-pure.png" | asset_url }}' })
      }
    }

    .card-body {
      background: #fff;
    }
  }
}