.template-cart {
  .cart {
    margin-bottom: 20px;
  }

  .terms-check {
    float: none; 
    text-align: right; 
    clear: both; 
    margin: 10px 0 10px 10px;

    .checkbox {
      float: none;
      vertical-align: middle;
    }

    label {
      display: inline-block;
      float: none;
      margin-right: 5px;
    }
  }
}