<section class="collecion-list-section">

    <div class="text-uppercase section-subtitle"> {{ section.settings.subheading }} </div>
    <div class="section-title"> {{ section.settings.heading }} </div >

    <div class="container">
        <div class="row carousel-mobile pb-5 pb-md-0">
            {% for block in section.blocks limit: section.blocks.size %}
                <div class="col col-12 col-md-4 mb-5">
                {%- assign collection = collections[block.settings.collection] -%}

                {% include 'cbd-custom-collection-grid-item' %}
                {% comment %} {% include 'collection-grid-item' %} {% endcomment %}

                </div>
            {% endfor %}

            {% comment %} Button {% endcomment %}
            {%- assign show_button = false -%}
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            {%- assign show_button = true -%}
            {%- endif -%}
            {%- if show_button -%}

        
        </div>
        <div class="row">
            <div class="col">
                <div class="button-area mb-5 text-center">
                    <a href="{{ section.settings.button_link }}" class="btn btn-primary ">
                    {{ section.settings.button_label | escape }}
                    </a>
                </div>
            </div>
        </div>

        {%- endif -%}
    </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</section>



{% schema %}
{
	"name": "Custom collection list",
	"class": "cbd-section",
	"max_blocks": 12,
	"settings": [
         {
			"id": "heading",
			"type": "text",
			"label": "Heading",
			"default": "Explore the range"
		},
		{
			"id": "subheading",
			"type": "text",
			"label": "Subheading",
			"default": "Our Products"
		},
        {
            "id": "button_label",
            "type": "text",
            "label": "Button label",
            "default": "Explore our products"
        },
        {
            "id": "button_link",
            "type": "url",
            "label": "Button link"
        }
	],
	"blocks": [{
		"type": "featured_collection",
		"name": {
			"de": "Kategorie",
			"en": "Collection",
			"es": "Colección",
			"fr": "Collection",
			"it": "Collezione",
			"ja": "コレクション",
			"pt-BR": "Coleção"
		},
		"settings": [{
			"label": {
				"de": "Kategorie",
				"en": "Collection",
				"es": "Colección",
				"fr": "Collection",
				"it": "Collezione",
				"ja": "コレクション",
				"pt-BR": "Coleção"
			},
			"id": "collection",
			"type": "collection"
		}]
	}],
	"presets": [{
		"name": {
			"de": "Kategorien-Liste",
			"en": "Custom collection list",
			"es": "Lista de colecciones",
			"fr": "Page de liste des collections",
			"it": "Elenco delle collezioni",
			"ja": "コレクションリスト",
			"pt-BR": "Lista de coleções"
		},
		"category": {
			"de": "Kategorie",
			"en": "Collection",
			"es": "Colección",
			"fr": "Collection",
			"it": "Collezione",
			"ja": "コレクション",
			"pt-BR": "Coleção"
		},
		"blocks": [{
				"type": "featured_collection"
			},
			{
				"type": "featured_collection"
			},
			{
				"type": "featured_collection"
			}
		]
	}]
}
{% endschema %}
