
<div class="hero-slideshow-wrapper">
    <div class="hero-slideshow carousel" data-slick-options='{
                        "arrows": true,
                        "dots": true,
                        "prevArrow": "#prev",
                        "nextArrow": "#next",
                        "swipeToSlide": true
                    }'>

        {%- for block in section.blocks -%}
            <div class="slide" style="background-image: url({{ 'blue-bg.png' | asset_url }})">
                <div class="container h-100">
                    <div class="row h-100 pb-5 pb-md-0">
                        <div class="col-text col-12 col-md-6 align-self-center text-md-left pt-4 pt-md-0">
                            {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                                {%- unless block.settings.slide_title == blank -%}
                                    <h2 class="hero-slideshow__title">
                                    {{ block.settings.slide_title | escape }}
                                    </h2>
                                {%- endunless -%}
                                {%- unless block.settings.subheading == blank -%}
                                    <h3 class="hero-slideshow__subtitle">
                                        {{ block.settings.subheading | escape }}
                                    </h3>
                                {%- endunless -%}
                                {%- unless block.settings.text == blank -%}
                                    <div class="hero-slideshow__text d-none d-md-block">
                                        {{ block.settings.text }}
                                    </div>
                                {%- endunless -%}
                            {% endunless %}
        
                            {%- assign show_link_button = false -%}
                            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                            {%- assign show_link_button = true -%}
                            {%- endif -%}
                            {%- if show_link_button -%}
                            <div class="button-area">
                                <a href="{{ block.settings.button_link }}" class="btn btn-primary hero-slideshow__btn">
                                {{ block.settings.button_label | escape }}
                                </a>
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="col-12 col-md-6 align-self-center">
                            {% if block.settings.image == blank %}
                            <div class="">
                                <div class="placeholder-background">
                                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>
                            </div>
                            {% else %}
                            <div class="hero-slideshow__image p-4 p-md-0">
                                <img src="{{ block.settings.image | img_url: '580x583' }}" alt="Product shot">
                            </div>
                            {% endif %}
                
                            <noscript>
                            <div class="">
                                {% if block.settings.image == blank %}
                                <div class="placeholder-background">
                                    {% if block.settings.image %}
                                        <img src="{{ block.settings.image | img_url: '580x583' }}" alt="Product shot">
                                    {% endif %}
                                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>
                                {% endif %}
                            </div>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
    <div id="prev">
        <img src="{{ 'slide-arrow.svg' | asset_url }}" alt="carousel arrow previous">
    </div>
    <div id="next">
        <img src="{{ 'slide-arrow.svg' | asset_url }}" alt="carousel arrow next">
    </div>
</div>

{% schema %}
{
	"name": "Hero slideshow",
	"class": "hero-slideshow",
	"max_blocks": 4,
	"blocks": [{
		"type": "image",
		"name": "Image slide",
		"settings": [{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "slide_title",
				"label": "Heading",
				"default": "Image slide"
			},
			{
				"type": "text",
				"id": "subheading",
				"label": "Subheading",
				"default": "Tell your brand's story through images"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Copy",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            },
			{
				"type": "text",
				"id": "button_label",
				"label": "Button label"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button link"
			}
		]
	}],
    "presets": [
        {
            "name": {
                "en": "Hero slideshow"
            },
            "category": {
                "en": "Image"
            }
        }
    ]
}
{% endschema %}
