<section class="shopify-section text-section cbd-section" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col col-12 col-md-8">
                <div class="text-uppercase section-subtitle"> {{ section.settings.subheading }} </div>
                <div class="section-title"> {{ section.settings.heading }} </div >
                <div>{{ section.settings.copy }}</div>

                {%- assign show_button = false -%}
                {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                {%- assign show_button = true -%}
                {%- endif -%}
                {%- if show_button -%}
                <div class="button-area">
                    <a href="{{ section.settings.button_link }}" class="btn btn-primary">
                        {{ section.settings.button_label | escape }}
                    </a>
                </div>
                {%- endif -%}

            </div>
        </div>
    </div>    
</section>

{% schema %}
{
	"name": "Text Full Spectrum Two",
	"settings": [
        {
			"id": "heading",
			"type": "text",
			"label": "Heading",
			"default": "Title"
		},
		{
			"id": "subheading",
			"type": "text",
			"label": "Subheading",
			"default": "<p>Add your text here</p>"
		},
		{
			"id": "copy",
			"type": "richtext",
			"label": "Add custom text below",
			"default": "<p>Add your text here</p>"
		},
        {
            "id": "button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "button_link",
            "type": "url",
            "label": "Button link"
        }
	],
	"presets": [
        {
            "name": {
                "en": "Text"
            },
            "category": {
                "en": "Text"
            }
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}