
<section class="faqs-section">
    <div class="container">
        <div class="row">
            <div class="accordion" id="accordionFaqs">
            {%- for block in section.blocks -%}
                {%- unless block.settings.question == blank -%}
                    <div class="card" data-aos="fade-up">
                        <div class="card-header" id="heading-{{ forloop.index }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="false" aria-controls="collapse-{{ forloop.index }}">
                                    {{ block.settings.question | escape }}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse-{{ forloop.index }}" class="collapse" aria-labelledby="heading-{{ forloop.index }}" data-parent="#accordionFaqs">
                            <div class="card-body">
                                {{ block.settings.answer }}
                            </div>
                        </div>
                    </div>
                {%- endunless -%}
            {%- endfor -%}     
            </div> <!-- .accordion -->   
        </div>
    </div>
</section>

{% schema %}
{
	"name": "FAQs",
	"class": "faqs",
	"max_blocks": 50,
	"blocks": [{
		"type": "faq",
		"name": "FAQ",
		"settings": [
			{
				"type": "text",
				"id": "question",
				"label": "Question",
				"default": "question"
			},
            {
                "type": "richtext",
                "id": "answer",
                "label": "answer",
                "default": "<p></p>"
            }
		]
	}],
    "presets": [
        {
            "name": {
                "en": "FAQs"
            },
            "category": {
                "en": "FAQs"
            }
        }
    ]
}
{% endschema %}
