
<div class="container mb-5">
    <ul class="row subnav clearfix">
        <li class="intro pl-xl-4 col col-12 col-xl-2">I am looking for: {% comment %}&nbsp;&nbsp;&nbsp;<span class="question" title="Some info about this product"><img src="{{ 'question.svg' | asset_url }}" alt="question mark icon" /></span>{% endcomment %}</li>
        <li  class="{% unless current_tags %} active {% endunless %} col col-6 col-lg-3 col-xl-2" >
            {% if collection.handle %}
                <a href="/collections/{{ collection.handle }}">All products</a>
            {% elsif collection.current_type %}
                <a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
            {% elsif collection.current_vendor %}
                <a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
            {% endif %}
            </li>
            {% for tag in collection.all_tags %}
                {% if current_tags contains tag %}
                <li class="active col col-6 col-lg-3 col-xl-2">
                    {{ tag | link_to_remove_tag: tag }}
                </li>
                {% else %}
                <li class="col col-6 col-lg-3 col-xl-2" data-toggle="tooltip" data-placement="top" 
                    {% if tag == "Pet" %}
                        title="Perfect for pets"
                    {% elsif tag == "Full spectrum" %}
                        title="A mixture of CBD and THC"
                    {% elsif tag == "Pure" %}
                        title="Just CBD"
                    {% endif %}
                >
                    {{ tag | link_to_tag: tag }}                        
                </li>
                {% endif %}
            {% endfor %}
    </ul>
</div>