<section class="cbd-section">
    <div class="container">

        <div class="row justify-content-md-center carousel-mobile pb-5 pb-md-0">
            {% for block in section.blocks %}

            <div class="col-md-3 text-center" {{ block.shopify_attributes }} data-aos="fade-up">
                {% if block.settings.enable_image %}
                {% if block.settings.image != blank %}

                <div id="{{ wrapper_id }}" class="trustpoint__image-wrapper mx-auto mb-5">
                    <img src="{{ block.settings.image | img_url: '300x300' }}" alt="{{ block.settings.image.alt | escape }}">
                    <div>
                    </div>
                </div>
                <noscript>
                    <p>
                        {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
                    </p>
                </noscript>
                {% else %}
                <p>
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </p>
                {% endif %}
                {% endif %}
                {% if block.settings.title != blank %}
                <h3 class="card-title">{{ block.settings.title | escape }}</h3>
                {% endif %}
                {% if block.settings.text != blank %}
                <div class="rte-setting">{{ block.settings.text }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
        {% endif %}
    </div>
</section>



{% schema %}
{
	"name": "Trustpoints",
	"class": "index-section",
	"blocks": [{
		"type": "text_block",
		"name": {
			"de": "Spalte",
			"en": "Column",
			"es": "Columna",
			"fr": "Colonne",
			"it": "Colonna",
			"ja": "列",
			"pt-BR": "Coluna"
		},
		"settings": [{
				"type": "checkbox",
				"id": "enable_image",
				"label": {
					"de": "Foto anzeigen",
					"en": "Show image",
					"es": "Mostrar imagen",
					"fr": "Afficher l'image",
					"it": "Mostra immagine",
					"ja": "画像を表示する",
					"pt-BR": "Exibir imagem"
				},
				"default": true
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": {
					"de": "Foto",
					"en": "Image",
					"es": "Imagen",
					"fr": "Image",
					"it": "Immagine",
					"ja": "画像",
					"pt-BR": "Imagem"
				}
			},
			{
				"type": "text",
				"id": "title",
				"label": {
					"de": "Titel",
					"en": "Heading",
					"es": "Título",
					"fr": "En-tête",
					"it": "Heading",
					"ja": "見出し",
					"pt-BR": "Título"
				},
				"default": {
					"de": "Titel oder Text hinzufügen",
					"en": "Add a title or tagline",
					"es": "Agregar un título o eslogan",
					"fr": "Ajouter un titre ou un slogan",
					"it": "Aggiungi un titolo o una tagline",
					"ja": "タイトルまたはタグラインを追加する",
					"pt-BR": "Adicione um título ou slogan"
				}
			},
			{
				"type": "richtext",
				"id": "text",
				"label": {
					"de": "Text",
					"en": "Text",
					"es": "Texto",
					"fr": "Texte",
					"it": "Testo",
					"ja": "テキスト",
					"pt-BR": "Texto"
				},
				"default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
			}
		]
	}],
	"presets": [{
		"name": "Trustpoints",
		"category": "Text",
		"blocks": [{
				"type": "text_block"
			},
			{
				"type": "text_block"
			},
			{
				"type": "text_block"
			}
		]
	}]
}
{% endschema %}