
<div class="container mb-5 filter-collections">
    <ul class="row subnav clearfix">
        <li class="intro pl-xl-4 col col-12 col-xl-2">I am looking for:</li>
        <li class="{% if collection.title == 'Products' %} active {% endif %} col col-6 col-lg-3 col-xl-2" >
            <a href="/collections/all">All products</a>            
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if collection.handle contains 'full-spectrum-cbd-oil' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="The Entourage Effect">
                <a href="/collections/full-spectrum-cbd-oil">Full Spectrum</a>
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if collection.handle contains 'pure-cbd-oil' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="Just CBD">
                <a href="/collections/pure-cbd-oil">Pure</a>
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if collection.handle contains 'pet-cbd-oil' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="Perfect for pets">
                <a href="/collections/pet-cbd-oil">Pet</a>
        </li>
    </ul>
</div>