
<section class="question-section">
    <div class="container">
        <div class="row">
            <div class="col" data-aos="fade-up">
                <h2>Still got a question?</h2>
                <div class="btn-wrap">
                    <a href="/pages/contact-us" class="btn btn-primary">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>