{%- include 'bold-ro' -%}
<section class="quotes-section">
  {% if section.settings.heading != blank %}
    <div class="section-header text-center">
      <div class="text-uppercase section-subtitle"> {{ section.settings.subheading }} </div>
      <div class="section-title"> {{ section.settings.heading }} </div >
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="container">
      <div class="row carousel-mobile pb-5 pb-md-0">
        {% for block in section.blocks %}
          <div class="col-md-4">
            <blockquote class="quotes-slider__text text-center" data-aos="fade-up">
              <span class="quote-icon">{% include 'icon-quote' %}</span>
              {% if block.settings.quote != blank %}
                <div class="rte-setting rte">{{ block.settings.quote }}</div>
              {% endif %}

              {% if block.settings.author != blank %}
                <cite class="text-uppercase">{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</section>



{% schema %}

{
	"name": "Testimonials (Custom)",
	"class": "cbd-section",
	"max_blocks": 3,
	"settings": [{
			"id": "heading",
			"type": "text",
			"label": "Heading",
			"default": "Read what our customers are saying"
		},
		{
			"id": "subheading",
			"type": "text",
			"label": "Subheading",
			"default": "Reviews"
		}
	],
	"blocks": [{
		"type": "quote",
		"name": "Testimonial",
		"settings": [{
				"type": "richtext",
				"id": "quote",
				"label": "Text",
				"default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
			},
			{
				"type": "text",
				"id": "author",
				"label": "Author",
				"default": "Author's name"
			}
		]
	}],
	"presets": [{
		"name": "Testimonials",
		"category": "Text",
		"blocks": [{
				"type": "quote"
			},
			{
				"type": "quote"
			},
			{
				"type": "quote"
			}
		]
	}]
}

{% endschema %}
