{%- include 'bold-ro' -%}

<section class="benefits-section">
    <div class="container">
        <div class="row carousel-mobile">
            {%- for block in section.blocks -%}
                <div class="col col-md-4">
                    {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                        <div class="card text-center w-100 border-0" data-aos="fade-up">

                            <img class="card-img-top" src="{{ block.settings.image | img_url: '380X220' }}" alt="Person enjoying the benefits of CBD">

                            <div class="card-body p-4 p-md-5">

                                {% comment %} Title {% endcomment %}
                                {%- unless block.settings.slide_title == blank -%}
                                    <h5 class="card-title">
                                        {{ block.settings.slide_title | escape }}
                                    </h5>
                                {%- endunless -%}

                                {% comment %} Copy {% endcomment %}
                                {%- unless block.settings.copy_text == blank -%}
                                    <div class="card-text">
                                        {{ block.settings.copy_text }}
                                    </div>
                                {%- endunless -%}

                                {% comment %} Button {% endcomment %}
                                {%- assign show_link_button = false -%}
                    
                                {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                                {%- assign show_link_button = true -%}
                                {%- endif -%}
                                {%- if show_link_button -%}
                                <div class="button-area">
                                    <a href="{{ block.settings.button_link }}" class="btn btn-primary hero-slideshow__btn">
                                    {{ block.settings.button_label | escape }}
                                    </a>
                                </div>
                                {%- endif -%}

                                {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                            </div>
                        </div>
                    {% endunless %}

                    
                </div>
            {%- endfor -%}
        
        </div>
    </div>
</section>

{% schema %}
{
	"name": "Benefits",
	"class": "benefits",
	"max_blocks": 3,
	"blocks": [{
		"type": "image",
		"name": "Image slide",
		"settings": [{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "slide_title",
				"label": "Heading",
				"default": "Image slide"
			},
            {
                "type": "richtext",
                "id": "copy_text",
                "label": "Copy",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            },
			{
				"type": "text",
				"id": "button_label",
				"label": "Button label"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button link"
			}
		]
	}],
    "presets": [
        {
            "name": {
                "en": "Benefits"
            },
            "category": {
                "en": "Image"
            }
        }
    ]
}
{% endschema %}
