
<section class="question-section ready-to-shop">
    <div class="container">
        <div class="row">
            <div class="col" data-aos="fade-up">
                <h2>Ready to shop?</h2>
                <div class="btn-wrap">
                    <a href="/collections/all" class="btn btn-primary">Explore our products</a>
                </div>
            </div>
        </div>
    </div>
</section>