
<div class="container mb-5">
    <ul class="row subnav clearfix">
        <li class="intro pl-xl-4 col col-12 col-xl-2">I am looking for:</li>
        <li class="{% unless current_tags %} active {% endunless %} col col-6 col-lg-3 col-xl-2" >
            <a href="/collections/all">All products</a>            
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if current_tags contains 'Full spectrum' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="The Entourage Effect">
                <a href="/collections/all/full-spectrum">Full Spectrum</a>
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if current_tags contains 'Pure' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="Just CBD">
                <a href="/collections/all/pure">Pure</a>
        </li>
        <li class="col col-6 col-lg-3 col-xl-2 {% if current_tags contains 'Pet' %} active {% endif %}" data-toggle="tooltip" data-placement="top" 
            title="Perfect for pets">
                <a href="/collections/all/pet">Pet</a>
        </li>
    </ul>
</div>