{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="password-powered-by">
  {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
  {% endcapture %}

  <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
</div>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "de": "Titel für Social Media Buttons",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fr": "Titre des options de partage",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": {
        "de": "Machen Sie Werbung",
        "en": "Spread the word",
        "es": "Riega la voz",
        "fr": "Faites passer le mot",
        "it": "Spargi la voce",
        "ja": "言葉を広める",
        "pt-BR": "Divulgue a novidade"
      }
    }
  ]
}
{% endschema %}
