section.collecion-list-section {
  background-color: #F3FAF1;
  position: relative;

  @media (min-width: 768px) {
    padding: 80px 0 10px;
  }

  &::before {
    height: 350px;
    width: 100%;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dbe9d7;

    @media (min-width: 768px) {
      height: 250px;
    }
  }

  .card {
    height: 100%;
    background-color: transparent;

    .card-img-top {
      margin-bottom: 20px;
    }

    .card-body {
      background: #fff;
    }
  }
}