section.faqs-section {
  padding-top: 0;

  .accordion {
    width: 100%;
    
    .card {
      margin-bottom: 20px;
      background: none;

      .card-header {
        border: none;
        padding: 0;
        background: none;

        .btn {
          display: block;
          width: 100%;
          text-align: left;
          font-size: 20px;
          line-height: 26px;
          font-weight: 600;
          border: none;
          background-color: #fff;
          padding: 27px 80px 27px 40px;
          position: relative;

          &:hover,
          &:active,
          &:visited,
          &:focus {
            color: #000;
          }

          &::after {
            content: " ";
            position: absolute;
            top: 30px;
            right: 40px;
            width: 20px;
            height: 20px;
            background-image: url(#{'{{ "slide-arrow.svg" | asset_url }}' });
            background-size: 20px 20px;
            transform: scaleY(-1) rotate(-90deg);
            transition: all 0.3s ease;
          }

          &.collapsed {
            &::after {
              transform: scaleY(-1) rotate(90deg);
            }
          }
        }
      }

      .card-body {
        padding: 27px 40px;
      }
    }
  }
}