// /* Contain floats: nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before, .clearfix:after { content: ""; display: table; }
// .clearfix:after { clear: both; }
// .clearfix { zoom: 1; }
// /* Subnavigation styles */

.subnav {
  position: relative;
  margin-bottom: -15px;
  padding: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 15px);
    background-color: #F0F0F0;
  }

  @include media-breakpoint-up(xl) {
    padding: 20px 0;
  }


  .intro {
    height: 54px;
    line-height: 54px;
    color: #282828;
    font-family: $headings-font-family;
    font-size: 14px;
    font-weight: 500;

    .question {
      cursor: pointer;
    }
  }

  li {
    padding-bottom: 15px;

    a {
      display: inline-block;
      width: 100%;
      padding: 17px;
      text-transform: uppercase;
      color: #282828;
      background-color: #FFFFFF;
      border-radius: 5px;
      font-family: Barlow;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
      border: 2px solid transparent;
    }
  }
}

.subnav li a:hover,
.subnav li.active a {
  border: 2px solid #8BC53F;
}
