// Custom hero slideshow
.hero-slideshow-wrapper {
  height: calc(100vh - 65px);
  position: relative;

  .col-text {
    text-align: center;
  }

  .hero-slideshow__title {
    font-size: 35px;
    line-height: 1;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      font-size: 45px;
    }
  }

  .hero-slideshow__subtitle {
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
  }

  .hero-slideshow__text {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide > div,
  .slide,
  .slide > img {
    height: 100%;
    // width: auto !important
  
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    img {
      width: 100%;
    }

    .hero-slideshow__btn {
      margin-top: 20px;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;

    @include media-breakpoint-up(md) {
      bottom: 40px;
    }

    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 10px;
    height: 10px;
  }

  .slick-dots li {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
    height: 10px;
    width: 10px;
  }

  .slick-dots li button {
    background-color: #4A4A4A;
    opacity: 0.3;
    border: none;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    outline: none;
    line-height: 0;
    font-size: 0;
    padding: 0;
    cursor: pointer;

    &:before {
      display: none;
    }
  }

  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }

  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    opacity: 1;
  }

  .slick-dots li.slick-active button {
    background-color: #4A4A4A;
    opacity: 1;
  }

  // arrows
  .slick-arrow {
    position: absolute;
    display: none !important;

    @media (min-width: 768px) {
      display: inline-block !important;
      width: 40px;
      height: 40px;
    }

    z-index: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    &#prev {
      left: 20px;

      &:after {
        left: 8px;
        transform: rotate(180deg);
      }
    }

    &#next {
      right: 20px;
    }
  }

  #prev,
  #next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  #next img {
    transform: rotateZ(180deg);
  }

  .slick-arrow,
  .slick-dots {
    z-index: 15 !important;
  }

  .slick-hidden {
    display: none !important;
  }

  // Stop annoying blue focus ring!

  .slick-slide * {
    &:focus {
      outline: none !important;
    }
  }
}
