section.question-section {
  background-color: theme-color("light-primary");
  text-align: center;
  padding: 40px 0;

  h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 28px;
    line-height: 32px;
  }
}