.quotes-section {
  background-color: #BFDAEE;
  padding-bottom: 60px;

  .icon-quote {
    width: 40px;
    height: 40px;

    path {
      fill: #2CA8E0 !important;
    }
  }

  cite {
    color: #2CA8E0;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
  }
}