
/*============================================================================
  Custom Reckless sections
==============================================================================*/
// Generic section styles

section {
  padding: 60px 0;
  
  @include media-breakpoint-up(md){
    padding: 80px 0; 
  }
}

.section-subtitle {
  color: #2CA8E0;	
  font-family: Barlow;	
  font-size: 14px;	
  font-weight: 600;	
  line-height: 16px;	
  text-align: center;
  margin-bottom: 8px;
}

.section-title {
  color: #282828;	
  font-family: Barlow;	
  font-size: 28px;	
  font-weight: 500;	
  line-height: 32px;	
  text-align: center;
  margin-bottom: 35px;
}

// Header top level wrapper
#shopify-section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

