.list-strengths {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .strength {
    margin: 0 10px 10px;

    &:nth-child(1) {
      background-color: theme-color("strength-1");
    }
    &:nth-child(2) {
      background-color: theme-color("strength-2");
    }
    &:nth-child(3) {
      background-color: theme-color("strength-3");
    }
    &:nth-child(4) {
      background-color: theme-color("strength-4");
    }
  }
}

.strength {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  color: #FFFFFF;
  font-family: $headings-font-family;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

// Product swatch
.swatch {
  .swatch-element {
    .strength.strength-circle-1 {
      background-color: theme-color("strength-1");
    }

    .strength.strength-circle-2 {
      background-color: theme-color("strength-2");
    }

    .strength.strength-circle-3 {
      background-color: theme-color("strength-3");
    }

    .strength.strength-circle-4 {
      background-color: theme-color("strength-4");
    }
  }
}