{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

<div class="blog-listing-section">

  {% section 'cbd-custom-text-blog' %}
  {% section 'blog-template' %}

</div>

{% section 'cbd-ready-to-shop' %}