{%- include 'bold-cart' -%}
<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->

<!-- spurit_sri-added -->
{% include 'spurit_sri-cart-snippet' %}
<!-- /spurit_sri-added -->
{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}

