{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% comment %} {% section 'cbd-custom-text-collection-one' %} {% endcomment %}

<section class="shopify-section text-section cbd-section" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col col-12 col-md-8">
                <div class="text-uppercase section-subtitle"> Products </div>
                {% if collection.all_tags.size > 1 %}
                    <div class="section-title">
                        Discover the Phocus CBD Range
                    </div>
                    <div>Take a look at our products and find the type and strength of CBD Oil that's right for you.</div>
                {% else %}
                    <div class="section-title">
                        {{ collection.title }}
                    </div>
                {% endif %} 
            </div>
        </div>
    </div>    
</section>

{% section 'cbd-filter-collections' %}
{% comment %}
    {% if collection.all_tags.size > 1 %}
        {% section 'cbd-filter-tabs' %}
    {% endif %}
{% endcomment %}

{% section 'cbd-custom-collection-template' %}

{% section 'cbd-custom-text-collection-two' %}

{% section 'cbd-custom-quotes' %}