{% section 'cbd-custom-text-rewards' %}

<div class="container rewards-subscribe">
    <div class="row">
        <div class="col-md-12 h-100">
            {{ page.content }}
        </div>
    </div>
</div>